@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/* @import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css); */

/* DEFAULT */
* {
    -webkit-transition: ease all 0.5s;
    -moz-transition: ease all 0.5s;
    transition: ease all 0.5s;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

html,
body {
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth!important;
}

body {
    /* KASIH FULLSIZE */
    color: #666;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.8;
}

a {
    color: #1f1f1f;
    outline: none !important;
    text-decoration: none !important;
}

a,
.btn {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover {
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #111;
    font-weight: normal;
    letter-spacing: 0;
    line-height: normal;
    margin: 0;
    padding-bottom: 10px;
    position: relative;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #222;
    opacity: 1;
    text-decoration: none !important;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 13px;
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

p {
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    margin: 20px;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    cursor: pointer;
    border: 0;
    margin: 0;
    padding: 0;
}

:focus {
    outline: 0;
}

/* FLEXBOX */
.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-hstart {
    justify-content: flex-start;
}

.flex-hcenter {
    justify-content: center;
}

.flex-hend {
    justify-content: flex-end;
}

.flex-vstart {
    align-items: flex-start;
}

.flex-vcenter {
    align-items: center;
}

.flex-vend {
    align-items: flex-end;
}

.flex-column {
    flex-flow: column;
}

.flex-row {
    flex-flow: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-around {
    justify-content: space-around;
}

.flex-between {
    justify-content: space-between;
}

.flex-evenly {
    justify-content: space-evenly;
}

/* NAVBAR */
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 16pt;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #db5660;
}

.navbar-light .navbar-toggler {
    background: transparent;
    color: transparent;
}

.bg-light {
    background-color: transparent !important;
}

.navbar.navbar-expand-lg.navbar-light {
    padding-left: 0;
    padding-right: 0;
}

.nav-android-menu.last {
    display: none;
}

/* MY STYLE */
.fullsize {
    width: 100%;
    height: 100%;
}

.fullwidth {
    width: 100%;
}

.fullheight {
    height: 100%;
}

.font-bold {
    font-weight: 600;
}

.border-radius-small {
    border-radius: 4px;
}

.border-radius-medium {
    border-radius: 8px;
}

.layout-padding {
    padding: 80px 0;
}

.header-section {
    background-color: #ecedef;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 15px 0px;
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 999;
}

.header-section.segment {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}

.last {
    padding-left: 30px !important;
}

.toast {
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    font-size: 0.875rem;
    pointer-events: auto;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 280px;
    max-width: 100%;
}

.toast-header {
    display: flex;
    align-items: center;
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    color: #6c757d;
    padding: 0.5rem 0.75rem;
}

.btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    box-sizing: content-box;
    color: #000;
    opacity: 0.5;
    padding: 0.25em 0.25em;
    width: 1em;
    height: 1em;
}

.toast-body {
    padding: 0.75rem;
    word-wrap: break-word;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    margin-right: 0.5rem;
    text-anchor: middle;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.about-img {
    max-height: 100%;
}

.about-section, .about-text {
    color: #000!important;
}

.about-text {
    font-weight: 400;
    text-align: justify;
}

#catalog {
    flex-grow: 1;
}

.catalog-main {
    font-size: 32pt;
}

.query-box {
    background-color: #ecedef;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}

.query-box .inner,
.query-box .inner .inner-container {
    padding: 0;
}

.query-box .inner .inner-container {
    font-size: 12pt;
}

.query-box .filter-label {
    padding-right: 16px;
}

.query-box .filter-control {
    height: 36px!important;
    margin: 8px 4px;
}

.query-box .filter-button {
    border: 0;
    color: #fff;
    padding: 6px 12px;
}

.query-box .inner::-webkit-scrollbar {
    display: none;
}

.query-box .inner-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#search_bar {
    border: 1px solid #000;
    flex-grow: 1;
    padding: 10px;
}

.catalog-card {
    flex-grow: 1;
    height: auto;
}

.catalog-card .inner {
    background-color: #ecedef;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    height: 100%;
}

.catalog-item {
    color: #000;
    font-weight: 400;
    text-align: center;
}

.catalog-img-placeholder {
    min-height: 200px;
    text-align: center;
}

.catalog-btn-container {
    margin-top: 20px;
}

.catalog-price {
    color: #0f0d10;
    font-size: 15pt;
    text-align: right;
}

.catalog-card, .catalog-nav-page {
    margin: 15px 0;
}

.page-item {
    margin: 0 5px;
    padding: 0;
    min-width: 40px;
    min-height: 40px;
}

.page-item.move-forward {
    min-width: 70px;
}

.filter-control.active, .page-item.active {
    background-color: rgba(0, 0, 0, 0.15)!important;
    color: #000!important;
}

.page-item a {
    color: #000;
}

.detail {
    flex-grow: 1;
    position: relative;
}

.detail-back {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 11;
}

.detail .img-container {
    background-color: #ecedef;
    position: relative;
    width: 60%;
}

.detail-img {
    background-color: #ecedef;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 75%;
}

.img-container:hover > .detail-img {
    background-size: 85%;
}

.login-container {
    height: auto;
}

.modal-login .title {
    font-weight: 600;
}

.modal-login .form-group {
    margin-bottom: 1.25rem;
}

.modal-login .login-input {
    border: 1px solid #000;
    color: #000;
    padding: 18px;
    width: 100%;
    height: 50px;
}

.modal-login .login-btn {
    padding: 8px 32px;
}

#cpanel {
    background-color: #f0eff0;
}

#cpanel .modal-login {
    max-width: 450px;
}

.cpanel-logo-container {
    font-size: 7vh;
    text-align: center;
}

.copyright {
    background-color: #000;
    clear: both;
    color: #fff!important;
    font-family: Poppins;
    font-size: 12pt;
    padding: 0 5%;
    text-align: center;
}

.copyright-padding {
    padding: 16px 0;
}

.copyright-border {
    background-color: #fff;
    height: 1px;
}

.copyright .info-text {
    color: #fff!important;
    font-weight: 400;
}

.copyright a {
    color: #fff;
    text-decoration: none;
}

.copyright a:hover {
    text-decoration: underline!important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}





.banner_taital {
    margin-top: 85px;
    width: 100%;
    float: left;
}

.banner_text {
    color: #db5660;
    font-size: 30pt;
    width: 100%;
    float: left;
}

.mens_text {
    float: left;
    color: #000;
    font-size: 38pt;
    line-height: 60px;
    width: 100%;
}

.lorem_text {
    float: left;
    color: #000;
    font-size: 13pt;
    font-weight: 400;
    margin-left: 0px;
    text-align: justify;
    width: 100%;
}

.buy_bt {
    width: 32%;
    height: 50px;
    color: #ffffff;
    background-color: #ff4e5b;
    color: #ffffff;
    font-size: 16pt;
}

.more_bt {
    width: 32%;
    height: 50px;
    color: #ffffff;
    background-color: #ffffff;
    color: #ff4e5b;
    font-size: 16pt;
    margin-left: 25px;
}

/* MUNGKIN GA PERLU */
/* .carousel-inner,
.carousel,
.carousel-item,
.container,
.fill {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}

.carousel-inner>.carousel-item.carousel-item-next,
.carousel-inner>.carousel-item.active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    top: 0;
}

.carousel-inner>.carousel-item.carousel-item-prev,
.carousel-inner>.carousel-item.active.carousel-item-left {
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    top: 0;
}

.carousel-inner>.carousel-item.next.carousel-item-left,
.carousel-inner>.carousel-item.carousel-item-prev.carousel-item-right,
.carousel-inner>.carousel-item.active {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top: 0;
}

.carousel-indicators {
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: -84px;
    margin: auto;
    width: auto;
    height: 20px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.carousel-indicators li {
    border: 1px solid #00a199;
    display: block;
    margin-bottom: 5px;
}

.carousel-indicators li.active {
    background: #00a199;
    margin-bottom: 5px;
} */
/* MUNGKIN GA PERLU */

.collection_section {
    float: left;
    padding-bottom: 0px;
    width: 100%;
}

.new_text {
    color: #0c0116;
    font-size: 24pt;
    text-align: center;
    width: 100%;
}

.consectetur_text {
    float: left;
    color: #0c0116;
    font-size: 14pt;
    font-weight: 400;
    margin-left: 0px;
    padding-bottom: 30px;
    width: 100%;
}

/* MUNGKIN GA PERLU */
.star_icon {
    width: 25%;
    margin: 0 auto;
    text-align: center;
}

.star_icon ul {
    margin: 0px;
    padding: 0px;
}

.star_icon li {
    float: left;
    padding-right: 10px;
    padding-bottom: 25px;
}
/* MUNGKIN GA PERLU */

.shoes_img {
    float: left;
    width: 100%;
    padding-top: 30px;
}

.collectipn_section_3 {
    float: left;
    width: 100%;
    padding-top: 0px;
}

.racing_shoes {
    float: left;
    background-color: #ecedef;
    background-size: 100%;
    padding: 70px 0;
    width: 100%;
    height: auto;
}

.shoes-img3 {
    float: left;
    width: 100%;
    text-align: center;
}

.sale_text {
    float: left;
    color: #ed2540;
    font-size: 40px;
    line-height: 50px;
    padding-right: 36px;
    width: 100%;
}

.number_text {
    float: left;
    color: #ed2540;
    font-size: 44px;
    line-height: 72px;
    width: 100%;
}

.seemore {
    background-color: #ff4e5b;
    color: #fff;
    font-size: 16pt;
    margin-top: 28px;
    width: 50%;
    height: 50px;
}

.collection_section_2 {
    float: left;
    width: 100%;
}

/* .about-img {
    float: left;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px;
    height: auto;
    margin-left: 64px;
    position: relative;
    width: 100%;
    z-index: 1;
} */

.new_bt {
    float: left;
    background-color: #000;
    color: #ffffff;
    font-size: 14pt;
    margin-left: -60px;
    text-align: center;
    width: 18%;
    height: 50px;
}

.shoes-img {
    float: left;
    margin: 0px;
    padding: 40px 0;
    text-align: center;
    width: 100%;
}

.sport_text {
    border-bottom: 1px solid#000;
    color: #0c0116;
    font-size: 16pt;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    width: 24%;
}

.dolar_text {
    float: left;
    color: #000;
    font-size: 20pt;
    text-align: center;
    width: 100%;
}

/* .about-img2 {
    float: left;
    background-image: url(../images/about-img2.png);
    box-shadow: 0px 0px 10px 0px;
    margin-top: 74px;
    margin-left: -50px;
    width: 100%;
    height: auto;
} */

.shoes-img2 {
    float: left;
    margin: 0px;
    padding-top: 100px;
    padding-bottom: 40px;
    text-align: center;
    width: 100%;
}

.seemore_bt {
    background-color: #ff4e5b;
    color: #fff;
    font-size: 16pt;
    margin-top: 35px;
    margin-bottom: 90px;
    width: 32%;
    height: 50px;
}
