.nav-pills .nav-link.active{
    background-color: #ffffff;
    border-radius: 1.5vw;
    color: #2a4bc0;
}
.height_menu{
    height: 50px;
}
.welcome-text{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: #8D8D8D;
    margin-bottom: 10px;
}
.text-black{
    color: #000000
}
.fw-bold{
    font-weight: 700 !important;
}
.welcome-sub-text{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #8D8D8D;
    margin-bottom: 0;
}
.navbar-menu-wrapper{
    background: #F4F5F7;
    transition: width 0.25s ease;
    color: #6C7383;
    padding-left: 3.5rem;
    padding-top: 30px;
    padding-bottom: 25px;
    width: calc(100% - 5rem);
    height: 97px;
}
.card{
    box-shadow: 0 0 0 0 rgb(90 113 208 / 11%), 0 4px 16px 0 rgb(167 175 183 / 33%);
    transition: background 0.25s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e3e3;
    border-radius: 20px;
}
.dashboard_btn button{
    padding: 8px 15px;
    border: 1px solid #CADDFF;
    box-sizing: border-box;
    border-radius: 6px;
    color: #000000;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
    align-items: center;
}
.card-title{
    color: #010101;
    margin-bottom: 1.2rem;
    text-transform: capitalize;
    font-size: 1.125rem;
    font-weight: 500;
}
.form-group label{
    font-size: 0.812rem;
    line-height: 1.4rem;
    vertical-align: top;
    margin-bottom: 0.5rem;
}
.form-control{
    border: 1px solid #dee2e6;
    font-weight: 400;
    font-size: 0.875rem;
    border-radius: 4px;
    height: 2rem;
}
.row{
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 30px;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.fade{
    transition: opacity 0.15s linear;
}
.modal-dialog{
    position: relative;
    width: auto;
    pointer-events: none;
}
.modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    border-radius: 0.3rem;
    outline: 0;
}
.modal-header{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}
.modal-title{
    margin-bottom: 0;
    line-height: 1.5;
}
.modal-body{
    position: relative;
    flex: 1 1 auto;
    padding: 0.9375rem;
}